.container {
  display: grid;
  grid-template-columns: 1fr 60%;
  padding: 0 3rem;
  align-items: center;
  height: 100%;
}

.title {
  color: var(--secondary-color);
  font-size: 3rem;
}

.item__title {
  color: #fff;
  font-size: 1.3rem;
  line-height: 2rem;
  display: flex;
  align-items: center;
}

.social a:first-child {
  margin-right: .5rem;
}

.item__paragraph {
  line-height: 1.5rem;
  color: var(--primary-color);
  margin-bottom: .5rem;
}

.social {
  margin-bottom: 1rem;
}

.scrollUp {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #fff;
  color: #2D2E2E;
  top: 20px;
  left: 14rem;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  transform: rotate(180deg);
  cursor: pointer;
}

.scrollUp img {
  height: 64px;
  width: 64px;
}

@media (max-width:1000px) {
  .scrollUp {
    display: none;
  }


  .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 2.5rem;
    align-items: flex-start;
  }
}

@media (max-width: 600px) {

  .title {
    font-size: 2rem;
  }

  .list__item {
    margin-bottom: 1rem;
  }

   .item_title {
    text-align: left;
  }

  .item__paragraph {
    display: none;
  }

  .social svg {
    width: 20px;
    height: 20px;
  }

  .social a:first-child {
    margin-right: 1rem;
  }

  .list__item {
    display:grid;
    grid-template-columns: 1fr 1fr;
  }

  .social {
    display: flex;
    align-items:center;
    margin: 0 1rem 0;
  }
}