.container {
  display: grid;
  grid-template-columns: 1fr 60%;
  padding: 0 3rem;
  align-items: center;
  height: 100%;
}

.title {
  color: var(--secondary-color);
  font-size: 3rem;
}

.paragraph {
  width: 90%;
  font-size: 1.5rem;
  line-height: 2rem;
}

.scrollUp {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #fff;
  color: #2D2E2E;
  top: 20px;
  left: 11rem;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  transform: rotate(180deg);
  cursor: pointer;
}

.scrollDown {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background-color: #fff;
  color: #2D2E2E;
  bottom: 20px;
  left: 11rem;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
}

.scrollDown img, .scrollUp img {
  height: 64px;
  width: 64px;
}

@media (max-width:1000px) {
  .scrollUp {
    display: none;
  }

  .scrollDown {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 0 2.5rem;
    align-items: flex-start;
  }

  .title {
    font-size: 2rem;
  }
}
